h1 {
    text-align: center;
}
#one {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    margin: 30%;
    background-color: white;
}
#two {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin: 20% ; 
    background-color: blue;
}
#three {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    margin: auto;
    background-color: red;
}
table {
    margin: auto;
}
.top {
    border-top: 3px solid black;
}
.bottom {
    border-bottom: 3px solid black;
}
.left {
    border-left: 3px solid black;
}
.right {
    border-right: 3px solid black;
}
td {
    width: 100px;
    height: 100px;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}